.orders-builder {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .title {
    font-size: 9px;
    color: #77828d;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .orders {
    display: flex;
    flex-direction: column;
  }
}
