.mutate-aggregation {
  .title-component {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  hr {
    margin: 0px;
    background: #EBECED;
    height: 1px;
    border: none;
  }
}
